<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- oracle 数据库 
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:db11g" /> 
		-->

		<!-- sqlserver 数据库
		 <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
		 <property name="url" value="jdbc:jtds:sqlserver://localhost:1433/simplehr;instance=SQLEXPRESS" />
		 -->

		<!-- mysql 数据库 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/study?useSSL=true&amp;serverTimezone=UTC" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>

</beans>